---
import { getCollection } from 'astro:content';

const posts = await getCollection('posts', ({ data }) => !data.draft);
const sortedPosts = posts.sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
  </head>
  <body>
    <main>
      <h1>Blog</h1>
      <ul>
        {
          sortedPosts.map((post) => (
            <li>
              <a href={`/posts/${post.id}`}>
                <span>{post.data.title}</span>
                <time datetime={post.data.pubDate.toISOString()}>
                  {post.data.pubDate.toLocaleDateString('ja-JP')}
                </time>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </body>
</html>
